*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    margin: 30px 0 30px;
    /* max-width: 1400px; */
    position: relative;
}

.slider-container{
    display: flex;
	height:600px;
}

.slider-image{
    width: 100%;
    object-fit: cover;
    object-position: center;

    display: none;
}

.slider-button{
    font-size: 3rem;
    padding: 1rem;

    align-self: center;

    background: transparent;
    border: none;
    color:white;

    cursor:pointer;

    position: absolute;

    opacity: 0.6;
    transition: 200ms;
}

.slider-button:hover{
    opacity: 1;
}

#next{
    right: 0;
}

.smooth{
    animation: smooth-transition 1s;
}

@keyframes smooth-transition {
    from{
        opacity: 0.7;
        transform: translateX(var(--transitionValue));
    }
    to{
        transform: translateX();
        opacity: 1;
    }
}